<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Disfruta De Nuestros Lugares De Comida </ion-card-title>
      <ion-card-subtitle>Aguachica</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>

        <!-- Pizzerias -->
  <ion-accordion value="Pizzerias">
    <ion-item slot="header" color="light">
      <ion-label>Pizzerías</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Pizzeria_M&M.jpg" />
          </ion-thumbnail>
          <ion-label>
            M&M <br>
            3182537579 <br>
            Direccion: Calle 6 # 18-03
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Pizzeria_Rustica.jpg" />
          </ion-thumbnail>
          <ion-label>
            RUSTICA <br>
            5655713 <br>
            Direccion: Calle 6 # 18-44
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Pizzeria_LaNostra.jpg" />
          </ion-thumbnail>
          <ion-label>
            LA NOSTRA <br>
            55650850 <br>
            Direccion: Calle 6 # 18-08
          </ion-label>
        </ion-item>
    </div>
  </ion-accordion>

  <!-- Restaurantes -->
<ion-accordion value="Restaurantes">
  <ion-item slot="header" color="light">
    <ion-label>Restaurantes</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_Chiles.jpeg" />
      </ion-thumbnail>
      <ion-label>
        CHILES <br>
        317 2678944 <br>
        Direccion: Calle 6 # 19-15
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_LaBrasa.jpg" />
      </ion-thumbnail>
      <ion-label>
        LA BRASA <br>
        5654630 <br>
        Direccion: Carrera 40 Entre Calle 3 y 4
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_Carnivore.jpg" />
      </ion-thumbnail>
      <ion-label>
        CARNIVORE <br>
        3172719912 <br>
        Direccion: Calle 1 #20-61
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_LaTraviata.jpg" />
      </ion-thumbnail>
      <ion-label>
        LA TRAVIATA <br>
        3006932059 <br>
        Direccion: Calle 10 # 29-48
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_PubVenecia.jpg" />
      </ion-thumbnail>
      <ion-label>
        PUB VENECIA <br>
        3168221980 <br>
        Direccion: Carrera 21 # 5-33
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_ElEstablo.jpg" />
      </ion-thumbnail>
      <ion-label>
        EL ESTABLO <br>
        310 6647238 <br>
        Direccion: Carrera 40 # 8A-28
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_ElRancho.jpg" />
      </ion-thumbnail>
      <ion-label>
        EL RANCHO <br>
        3006617833 <br>
        Direccion: Carrera 21 # 4-47
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Restaurante_SuperPollo.jpg" />
      </ion-thumbnail>
      <ion-label>
        SUPER POLLO <br>
        3174395251 <br>
        Direccion: Calle 5 #29-66
      </ion-label>
    </ion-item>
  </div>
</ion-accordion>

<!-- Comidas Rapidas -->
<ion-accordion value="ComRap">
  <ion-item slot="header" color="light">
    <ion-label>Comidas Rapidas</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/ComRap_Alvaro.jpg" />
      </ion-thumbnail>
      <ion-label>
        DONDE ALVARO <br>
        3188778683 <br>
        Direccion: Calle 2 # 39-02
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/ComRap_LaCuñada.jpg" />
      </ion-thumbnail>
      <ion-label>
        LA CUÑADA <br>
        3118674017 <br>
        Direccion: Calle 5 con Cra 28
      </ion-label>
    </ion-item>
  </div>
</ion-accordion>

<!-- Heladerias -->
<ion-accordion value="Heladerias">
  <ion-item slot="header" color="light">
    <ion-label>Heladerias</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Heladeria_Puggin.jpg" />
      </ion-thumbnail>
      <ion-label>
        PUGGIN <br>
        3103624065 <br>
        Direccion: Calle 5 # 21-15
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Heladeria_DondeJuanita.jpg" />
      </ion-thumbnail>
      <ion-label>
        DONDE JUANITA <br>
        3012449848 <br>
        Direccion: Calle 6 #18-28
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Heladeria_Lupe.jpg" />
      </ion-thumbnail>
      <ion-label>
        LUPE <br>
        3165036054 <br>
        Direccion: Cra. 17 #1-127
      </ion-label>
    </ion-item>
  </div>
</ion-accordion>

<!-- Licores -->
<ion-accordion value="Licores">
  <ion-item slot="header" color="light">
    <ion-label>Licores</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Estanco_La18Vale.jpg" />
      </ion-thumbnail>
      <ion-label>
        LA 18 VALE <br>
        3138210576 <br>
        Direccion: Cra. 18 # 3-02
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Estanco_La30.jpg" />
      </ion-thumbnail>
      <ion-label>
        ESTANCO LA 30 DE LA 5TA <br>
        3135626011 <br>
        Direccion: Calle 5 # 30-43
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/Estanco_Moes2.png" />
      </ion-thumbnail>
      <ion-label>
        MOES #2 <br>
        3187829478 <br>
        Direccion: Calee 3 # 36-18
      </ion-label>
    </ion-item>

  </div>
</ion-accordion>
</ion-accordion-group>
    </ion-card-content>
  </ion-card>

    

</ion-content>
