<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hoteles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Disfruta De Nuestros Hoteles </ion-card-title>
      <ion-card-subtitle>Aguachica</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-accordion-group>

        <!-- Hotel N1 -->
  <ion-accordion value="Estoraques">
    <ion-item slot="header" color="light">
      <ion-label>Los Estoraques</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content"  >
      <ion-content class="container">
        <h1>Hotel Los Estoraques</h1>
        <ion-label>Cel:317 3685078</ion-label> <br>
        <ion-label>Direccion: Calle 5 # 38-49</ion-label>
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_EstoraquesV1.jpg" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_EstoraquesV2.jpg" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_EstoraquesV3.jpg" />
      </ion-content>
    </div>
  </ion-accordion>

          <!-- Hotel N2 -->
  <ion-accordion value="Villa">
    <ion-item slot="header" color="light">
      <ion-label>Villa Grant</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content"  >
      <ion-content class="container">
        <h1>Hotel Villa Grant</h1>
        <ion-label>Cel:321 5603848</ion-label> <br>
        <ion-label>Direccion: Calle 5 # 25-55</ion-label>
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_VillaGV1.jpg" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_VillaGV2.jpg" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_VillaGV3.jpg" />
      </ion-content>
    </div>
  </ion-accordion>

            <!-- Hotel N3 -->
  <ion-accordion value="Real">
    <ion-item slot="header" color="light">
      <ion-label>Calle Real</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content"  >
      <ion-content class="container">
        <h1>Hotel Calle Real</h1>
        <ion-label>Cel:316 4682581</ion-label> <br>
        <ion-label>Direccion: Calle 5 #2173</ion-label>
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_CalleRealV1.png" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_CalleRealV2.png" />
        <img alt="Silhouette of mountains" src="../../assets/img/Hotel_CalleRealV3.png" />
      </ion-content>
    </div>
  </ion-accordion>
 
</ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>
