<ion-content class="ion-padding">
      <div class="ion-text-center">
        <br>
        <br>
        <br>
        <h1>Bienvenido a Directorio Aguachica Cesar</h1>
        <p>
          ¡Bienvenido a la aplicación Directorio Aguachica Cesar! Esta plataforma está diseñada para ser tu guía virtual en la hermosa ciudad de Aguachica, ubicada en el departamento de Cesar, Colombia. Aquí encontrarás todo lo que necesitas para explorar y disfrutar al máximo de este encantador lugar.
        </p>
        <ion-img
          src="../assets/img/Img_Aguachica.jpg"
          alt="Aguachica Cesar"
          class="imagen"
        ></ion-img>
      </div>
</ion-content>