
.ion-text-center{
    margin-left: 10%;
    margin-right: 10%;
}

.imagen {
    // padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

// ion-tab-bar {
//     position: sticky;
//     top: 100%;
// }